.shop-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.products{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgba(243, 226, 226, 0.74);
   
    
}
.ordered{
    background-color: rgb(240, 227, 187);
    position: sticky;  
    top: 0;
}
