.choose-btn{
    width: 100%;
    background-color: rgb(48, 48, 51);
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.choose-btn:hover{
    background-color: rgb(40, 40, 46);
    color: rgb(195, 197, 199);
}
.removed-btn{
    width: 100%;
    background-color: rgb(243, 202, 219);
    color: rgb(3, 3, 3);
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.removed-btn:hover{
    background-color: rgb(250, 8, 105);
    color: rgb(247, 242, 243);
    
}